@using Microsoft.AspNetCore.Components
@model IEnumerable<MagicVilla_Web.Models.DTO.VillaDTO>

<img class="d-block w-100" src="images/home/slide1.jpg" alt="" />

<hr />
<!-- Il codice style="--bs-gutter-x:0" è un attributo di stile che probabilmente vedi in un file HTML.
Questo attributo utilizza una variabile CSS personalizzata per impostare i margini (o spazi) orizzontali
all'interno di un contenitore Bootstrap a zero 
--bs-gutter-x: è una variabile CSS personalizzata fornita da Bootstrap per controllare lo spazio orizzontale tra le colonne.
Il prefisso --bs indica che è una variabile Bootstrap.
0: imposta questa variabile a zero, eliminando qualsiasi margine orizzontale tra le colonne.
In pratica, questa impostazione rimuove gli spazi vuoti tra le colonne all'interno di un layout Bootstrap,
assicurando che non ci siano margini orizzontali aggiunti
n contesto di layout web, il termine "gutter" si riferisce agli spazi vuoti tra le colonne di un layout a griglia
-->
<div class="row" style="--bs-gutter-x:0">
    @foreach(var villa in Model)
    {
        <div class="p-4" col-md-12 col-lg-6>
            <div class="row" style="border-radius:20px"; border: 1px solid #ffffff>
                <div class="col-4">
                    <img class="d-block w-100" style="border-radius:20px"; src="@villa.ImageUrl" alt="First slide" />
                </div>
                <div class="col-8">
                    <p class="card-title text-warning" style="font-size:xx-large">@villa.Name</p>
                    <p class="card-text">
                        <!-- La classe MarkupString viene utilizzata per indicare che una stringa deve essere trattata
                        come markup HTML piuttosto che testo semplice.
                        MarkupString: Questo dice al motore Razor che la stringa deve essere interpretata come HTML
                        -->
                        @((MarkupString)villa.Details)
                    </p>
                </div>
                <div class="col-12">
                    <div class="row pb-3 pt-2">
                        <div class="col-4">
                            <a href="" class="btn btn-success form-control btn-block">Book</a>
                        </div>
                        <div class="col-4">
                            <span class="">Max Occupancy: @villa.Occupancy adults</span>
                            <span class="pt-1">Villa size: @villa.Sqft sqft</span>
                        </div>
                        <div class="col-4">
                            <span class="text-warning float-end font-weight-bold pt-1 style="font-size:25px;">
                                USD
                                <span style="border-bottom:1px solid #ff6a00">
                                    <!-- L'uso del formato "c" converte il numero in una stringa rappresentativa della valuta,
                                    utilizzando il simbolo di valuta locale.
                                    Per esempio, se villa.Rate ha un valore di 100, e il simbolo di valuta locale è l'euro,
                                    il risultato sarà qualcosa come €100.00. -->
                                    @villa.Rate.ToString("c")
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
